@font-face {
  font-family: "TradeGothicLTStd";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.otf") format("opentype"), url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.eot?") format("eot"), url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.ttf") format("truetype"), url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.woff") format("woff"), url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.woff2") format("woff2"), url("../fonts/TradeGothic/TradeGothicLTStd/TradeGothicLTStd.svg#TradeGothicLTStd") format("svg"); }

@font-face {
  font-family: "TradeGothicLTStd";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.otf") format("opentype"), url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.eot?") format("eot"), url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.ttf") format("truetype"), url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.woff") format("woff"), url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.woff2") format("woff2"), url("../fonts/TradeGothic/TradeGothicLTStd-Bd2/TradeGothicLTStd-Bd2.svg#TradeGothicLTStd") format("svg"); }

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/Iconfont/iconfont.eot");
  src: url("../fonts/Iconfont/iconfont.eot") format("embedded-opentype"), url("../fonts/Iconfont/iconfont.ttf") format("truetype"), url("../fonts/Iconfont/iconfont.woff") format("woff"), url("../fonts/Iconfont/iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^='icon-'],
[class*=' icon-'],
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-header-right:before {
  content: "\e900"; }

.icon-header-down:before {
  content: "\e901"; }

.icon-header-user:before {
  content: "\e902"; }

.icon-header-user_filled:before {
  content: "\e903"; }

.icon-header-menu:before {
  content: "\e904"; }

.icon-header-bag:before {
  content: "\e905"; }

.icon-header-bag_filled:before {
  content: "\e906"; }

.icon-header-contact:before {
  content: "\e907"; }

.icon-header-earth:before {
  content: "\e908"; }

.icon-header-login:before {
  content: "\e909"; }

.icon-header-logout:before {
  content: "\e90a"; }

.icon-header-map-marker:before {
  content: "\e90b"; }

.icon-map-marker:before {
  content: "\e90c"; }

.icon-delivery:before {
  content: "\e90d"; }

.icon-cross2:before {
  content: "\e90e"; }

.icon-cross:before {
  content: "\e90f"; }

.icon-search:before {
  content: "\e910"; }

.icon-envelope:before {
  content: "\e911"; }

.icon-envelope-open:before {
  content: "\e912"; }

.icon-telephone:before {
  content: "\e913"; }

.icon-clipboard:before {
  content: "\e914"; }

.icon-clipboard-notification:before {
  content: "\e915"; }

.icon-store:before {
  content: "\e916"; }

.icon-printer:before {
  content: "\e917"; }

.icon-plus:before {
  content: "\e918"; }

.icon-minus:before {
  content: "\e919"; }

.icon-percent:before {
  content: "\e91a"; }

.icon-chevron-up:before {
  content: "\e91b"; }

.icon-chevron-down:before {
  content: "\e91c"; }

.icon-chevron-left:before {
  content: "\e91d"; }

.icon-chevron-right:before {
  content: "\e91e"; }

.icon-warning:before {
  content: "\e91f"; }

.icon-cookie:before {
  content: "\e920"; }

.icon-fingers-scroll-horizontal:before {
  content: "\e921"; }

.icon-stock-and-order:before {
  content: "\e922"; }

.icon-prohibited:before {
  content: "\e923"; }

.icon-archive2:before {
  content: "\e924"; }

.icon-contract:before {
  content: "\e925"; }

.icon-payment:before {
  content: "\e926"; }

.icon-invoice-dollar:before {
  content: "\e927"; }

.icon-invoice-euro:before {
  content: "\e928"; }

.icon-invoice-pound:before {
  content: "\e929"; }

.icon-invoice-yen:before {
  content: "\e92a"; }

.icon-quick-order:before {
  content: "\e92b"; }

.icon-input-checkbox_checked:before {
  content: "\e92c"; }

.icon-input-checkbox_unchecked:before {
  content: "\e92d"; }

.icon-input-checked:before {
  content: "\e92e"; }

.icon-input-false:before {
  content: "\e92f"; }

.icon-input-dropdown:before {
  content: "\e930"; }

.icon-input-radio_unchecked:before {
  content: "\e931"; }

.icon-input-radio_checked:before {
  content: "\e932"; }

.icon-input-information:before {
  content: "\e933"; }

.icon-input-lock:before {
  content: "\e934"; }

.icon-input-unlock:before {
  content: "\e935"; }

.icon-repeat:before {
  content: "\e936"; }

.custom_body {
  background-color: #fff;
  font-family: "TradeGothicLTStd", "TradeGothicLTStd-Bd2", "TradeGothicLTStd-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.custom_billingAddressHeader,
.custom_contactDetailsHeader,
.custom_paymentHeader {
  font-size: 22px; }

.custom_dataBox {
  background: #fff none;
  padding: 0; }

.custom_input {
  display: flex;
  flex-direction: column; }
  .custom_input:not(#xyz) {
    margin-bottom: 4px; }
  .custom_input input {
    font-family: 'TradeGothicLTStd', 'TradeGothicLTStd-Bd2', 'TradeGothicLTStd-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }
    .custom_input input:not([type='hidden']) {
      display: block;
      border: 0;
      border-bottom: 2px solid #000;
      background: transparent;
      padding: 5px 8px;
      width: 100%;
      line-height: 27px;
      font-size: 18px; }
      .custom_input input:not([type='hidden']):focus {
        outline: 0; }

select {
  position: relative;
  border-radius: 0;
  background: transparent;
  padding: 5px 8px;
  width: 100%;
  height: 39px;
  line-height: 27px;
  font-family: 'TradeGothicLTStd', 'TradeGothicLTStd-Bd2', 'TradeGothicLTStd-Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  select, select:hover, select:focus, select:active {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #000; }

.custom_notification {
  order: 2;
  padding: 4px 0 0 8px; }

.custom_billingAddressCountry .custom_input::before {
  position: absolute;
  top: 14px;
  right: 13px;
  font-family: 'iconfont';
  font-size: 18px;
  content: '\e91c'; }

.custom_info {
  margin-left: 4px;
  background: none;
  width: 20px;
  height: 39px;
  line-height: 32px;
  font-size: 18px; }
  .custom_info::before {
    font-family: iconfont;
    content: '\e933'; }

.custom_visaCardVerification input:not([type='hidden']) {
  padding-left: 32px; }

.custom_paymentButtons input.custom_submitButton {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  z-index: 1;
  margin-bottom: 12px;
  border: 2px solid #000;
  background: #000 none;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  line-height: 28px;
  color: #fff;
  font-size: 18px; }
  .custom_paymentButtons input.custom_submitButton::after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: auto;
    -webkit-transform: skew(-32deg);
            transform: skew(-32deg);
    transition: 0.3s;
    z-index: -1;
    background-color: #fff;
    width: 200%;
    content: '';
    -webkit-transform-origin: top left;
            transform-origin: top left; }
  .custom_paymentButtons input.custom_submitButton:hover, .custom_paymentButtons input.custom_submitButton:focus {
    background: none;
    color: #000; }
    .custom_paymentButtons input.custom_submitButton:hover:after, .custom_paymentButtons input.custom_submitButton:focus:after {
      right: 0;
      -webkit-transform: skew(-32deg);
              transform: skew(-32deg);
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right; }
  .custom_paymentButtons input.custom_submitButton:active {
    border-color: #4a4a4a;
    color: #4a4a4a; }

*, *::before, *::after {
  box-sizing: border-box; }

.custom_customerContactEmail,
.custom_customerContactTelephone,
.custom_customerContactTelephone,
.custom_customerContactMobile,
.custom_billingAddressGivenName,
.custom_addressFamilyName,
.custom_addressCompany,
.custom_addressStreet,
.custom_addressCity,
.custom_addressState,
.custom_addressPostcode,
.custom_addressCountry,
.custom_visaCardNumber,
.custom_visaCardValidTo,
.custom_visaCardName,
.custom_visaCardVerification,
.custom_masterCardNumber,
.custom_masterCardValidTo,
.custom_masterCardName,
.custom_masterCardVerification,
.custom_maestroCardNumber,
.custom_maestroCardValidFrom,
.custom_maestroCardValidTo,
.custom_maestroCardIssueNumber,
.custom_maestroCardName,
.custom_maestroCardVerification,
.custom_amexCardNumber,
.custom_amexCardValidTo,
.custom_amexCardName,
.custom_amexCardVerification {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.custom_labelColumn {
  order: 2;
  padding: 0 0 0 8px;
  width: 100%; }

.custom_input {
  padding: 0;
  width: 100%; }

.custom_paymentButtons {
  width: 100%;
  padding: 0; }

.custom_maxWidth {
  width: 100%; }

.custom_visaContainer,
.custom_masterContainer,
.custom_maestroContainer,
.custom_amexContainer {
  background: none; }

.custom_paySelection {
  margin-bottom: 39px;
  border-bottom: 2px solid #000; }
  .custom_paySelection p.custom_labelColumn {
    padding: 4px; }
    @media (max-width: 767.98px) {
      .custom_paySelection p.custom_labelColumn {
        margin-bottom: 20px; } }

.custom_orderAmount {
  font-size: 20px; }

.custom_brandSelectionSlider {
  margin-left: 20px; }

.custom_brandSelectionSliderLine .custom_labelColumn {
  width: 100%; }
  @media (min-width: 768px) {
    .custom_brandSelectionSliderLine .custom_labelColumn {
      width: 33.33333%; } }

.custom_brandSelectionSliderLine #paySelectionControl {
  width: 100%; }
  @media (min-width: 768px) {
    .custom_brandSelectionSliderLine #paySelectionControl {
      width: 66.66667%; } }

.custom_selectionSlider {
  margin-left: 10px !important;
  border: solid transparent;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000000;
  background: none;
  width: 0;
  height: 0; }

.custom_visaImg,
.custom_masterImg,
.custom_maestroImg,
.custom_amexImg {
  margin-right: 20px; }

.custom_visaCardValidTo .custom_input,
.custom_masterCardValidTo .custom_input,
.custom_maestroCardValidFrom .custom_input,
.custom_maestroCardValidTo .custom_input,
.custom_amexCardValidTo .custom_input {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px; }
  .custom_visaCardValidTo .custom_input::before,
  .custom_masterCardValidTo .custom_input::before,
  .custom_maestroCardValidFrom .custom_input::before,
  .custom_maestroCardValidTo .custom_input::before,
  .custom_amexCardValidTo .custom_input::before {
    position: absolute;
    top: 10px;
    right: calc(52% + 13px);
    font-family: 'iconfont';
    font-size: 18px;
    content: '\e91c'; }
  .custom_visaCardValidTo .custom_input::after,
  .custom_masterCardValidTo .custom_input::after,
  .custom_maestroCardValidFrom .custom_input::after,
  .custom_maestroCardValidTo .custom_input::after,
  .custom_amexCardValidTo .custom_input::after {
    position: absolute;
    top: 10px;
    right: 13px;
    font-family: 'iconfont';
    font-size: 18px;
    content: '\e91c'; }
  .custom_visaCardValidTo .custom_input .custom_notification,
  .custom_masterCardValidTo .custom_input .custom_notification,
  .custom_maestroCardValidFrom .custom_input .custom_notification,
  .custom_maestroCardValidTo .custom_input .custom_notification,
  .custom_amexCardValidTo .custom_input .custom_notification {
    flex-basis: 100%; }
  .custom_visaCardValidTo .custom_input span.help,
  .custom_masterCardValidTo .custom_input span.help,
  .custom_maestroCardValidFrom .custom_input span.help,
  .custom_maestroCardValidTo .custom_input span.help,
  .custom_amexCardValidTo .custom_input span.help {
    position: absolute;
    top: 43px;
    right: 8px; }
  .custom_visaCardValidTo .custom_input select,
  .custom_masterCardValidTo .custom_input select,
  .custom_maestroCardValidFrom .custom_input select,
  .custom_maestroCardValidTo .custom_input select,
  .custom_amexCardValidTo .custom_input select {
    flex-basis: 48%;
    z-index: 2; }

.custom_tooltip {
  border-radius: 0;
  border: 1px solid #000;
  background-color: #fff;
  opacity: 1; }

.custom_ui-dialog {
  border: 1px solid #000;
  border-radius: 0;
  width: 500px; }
  .ui-dialog .custom_ui-dialog-titlebar {
    margin-bottom: 0;
    border-bottom: 0; }

.custom_ui-dialog-titlebar-close {
  text-align: center;
  line-height: 18px;
  font-size: 15px; }
  .custom_ui-dialog-titlebar-close::before {
    font-family: iconfont;
    content: '\e90e'; }

.custom_ui-icon-closethick {
  background: none; }

.custom_orderAmount {
   display: none; }
